 @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Hind:wght@300;500;700&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Hind', sans-serif;
 }

 body {
     background-color: white;
 }

 textarea {
     resize: none;
 }


 /* TARJETITAS */

 .tarjetitas {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 10px;
 }

 .card {
     width: 250px;
     border: none;
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .cartita__imagen {
     width: 100%;
     transition: .5s;
 }

 .cartita__imagen:hover {
     transform: translate(0, -10px);
 }

 /* MENU */

 .navbar {
     background-color: #6d7a71;
 }

 .nav-link {
     color: #efeadd;
 }

 .nav-link:hover {
     color: white;
 }

 .nav-link.active {
     color: white !important;
 }

 .form-control:focus {
     outline: none !important;
     box-shadow: none !important;
     border-color: transparent;
 }

 .dropdown-item.active {
     background-color: #6d7a71 !important;
 }

 /* INICIO */

 .productosnuevos,
 .lomascomprado {
     display: flex;
     justify-content: center;
     background-color: white;
     font-size: 20px;
 }

 .productosnuevos__titulo,
 .lomascomprado__titulo {
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: lighterloek 99 i;
     background-color: white;
     color: #6d7a71;
     font-size: 20px;
     padding: 20px;
 }

 .fotos {
     display: grid;
     grid-template-columns: repeat (4, 1fr);
     grid-template-areas:
         "foto1 foto2 foto3 foto4"
         "foto1 foto2 foto3 foto4";

     position: relative;
 }

 .foto1 img {
     grid-area: foto1;
     width: 100%;
     height: 100%;
     border-right: solid 5px white;
 }

 .foto2 img {
     grid-area: foto2;
     width: 100%;
     height: 100%;
     border-right: solid 5px white;
 }

 .foto3 img {
     grid-area: foto3;
     width: 100%;
     height: 100%;
     border-right: solid 5px white;
 }

 .foto4 img {
     grid-area: foto4;
     width: 100%;
     height: 100%;
 }

 .opacidad {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: rgba(0, 0, 0, 0.5);
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     padding-right: 25px;
     opacity: 0;
 }

 .fotos .opacidad {
     opacity: 1;
 }

 .textodeimagen {
     color: white;
     font-size: 4rem;
     text-align: start;
 }

 .textodeimagen a {
     text-decoration: none;
     color: white;
 }

 /* INICIO SECCION BLOG */

 .blog {
     display: grid;
     grid-template-columns: 500px 500px 500px;
     grid-template-rows: 500px;
     grid-column-gap: 25px;
     grid-template-areas:
         "blog1 blog2 blog3";

     display: flex;
     justify-content: center;
     align-items: center;
     padding: 25px;
 }

 .blog1 {
     grid-area: blog1;
     width: 500px;
     height: 500px;
     position: relative;
 }



 .blog1__imagen {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .blog2 {
     grid-area: blog2;
     width: 500px;
     height: 500px;
     position: relative;
 }

 .blog2__imagen {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .blog3 {
     grid-area: blog3;
     width: 500px;
     height: 500px;
     position: relative;
 }

 .blog3__imagen {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .textoimagenblog {
     position: absolute;
     top: 70%;
     left: 20%;
     right: 10%;
     color: white;
     font-size: 2rem;
     text-align: end
 }

 .opacidad {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: rgba(0, 0, 0, 0.5);
     display: flex;
     justify-content: center;
     align-items: center;
     opacity: 0;
     transition: opacity 0.5s;
 }

 .textoimagenblog:hover {
     transition: .5s;
     opacity: 1;
 }

 /* NOSOTROS */

 .imgportada {
     display: flex;
     flex-direction: column;
     align-items: stretch;
 }

 .main__nosotros {
     display: block;
 }

 .nosotros {
     padding: 25px;
     gap: 25px;
 }

 .h1__nosotros {
     display: flex;
     justify-content: center;
     font-size: 40px;
 }

 .p__nosotros {
     display: flex;
     padding: 25px;
     font-size: 30px;
 }

 /* ACEITES INDIVIDUALES */

 .titulo__aceitesindividuales {
     display: flex;
     justify-content: center;
     align-items: end;
     padding-top: 25px;
     font-size: 30px;
     color: #6d7a71;
 }

 .tarjetitas__aceitesindividuales {
     padding: 25px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 25px;
 }

 /* MEZCLAS */

 .titulo__mezclas {
     display: flex;
     justify-content: center;
     padding-top: 25px;
     font-size: 30px;
     color: #6d7a71;
 }

 .tarjetitas__mezclas {
     padding: 25px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 25px;
 }


 .tracking-in-expand {
     animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
 }

 @keyframes tracking-in-expand {
     0% {
         letter-spacing: -0.5em;
         opacity: 0;
     }

     40% {
         opacity: 0.6;
     }

     100% {
         opacity: 1;
     }
 }

 /* FORM */

 .main__contacto {
     display: flex;
     align-items: center;
 }

 .cajitaform {
     width: 100%;
 }

 .cajitaform__titulo {
     color: #6d7a71;
     text-align: center;
 }

 .tarjetitaform {
     display: grid;
     grid-template-rows: 100px 100px 100px 100px;
     flex-direction: column;
     justify-items: center;
     align-items: center;
     gap: 10px
 }

 .form__nombre,
 .form__email {
     display: flex;
     width: 250px;
     padding: 5px;
 }

 .form__mensaje {
     display: flex;
     width: 400px;
     padding: 5px;
 }

 button {
     background-color: #6d7a71;
     color: #efeadd;
     padding: 10px;
     border: none;
     border-radius: 5px;
 }

 .imagenaceitesform {
     width: 100%;
     height: 100%;
 }

 .imagenaceitesform img {
     width: 100%;
     height: 100%;
 }

 /* FOOTER*/

 .piedepagina {
     background-color: #6d7a71;
     display: grid;
     grid-template-areas:
         "grupo1"
         "grupo2"
         "grupo3";
     justify-items: center;
     align-items: center;
 }

 .grupo1 {
     grid-area: grupo1;
     width: 350px;
     padding-top: 20px;
 }

 .grupo1 img {
     width: 100%;
 }

 .grupo2 {
     grid-area: grupo2;
     color: #efeadd;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-content: center;
     padding: 10px;
 }

 .grupo3 {
     grid-area: grupo3;
     color: #efeadd;
     padding: 25px;
 }

 .grupo3__logo {
     display: flex;
     flex-direction: row;
     justify-content: center;
     width: 100px;
     padding: 10px;
     gap: 10px;
 }

 .insta,
 .face {
     display: flex;
     width: 50px;
 }

 /* MENUFOOTER */

 .menu {
     list-style-type: none;
     width: 600px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-direction: row;
     text-align: center;
     gap: 10px;
 }

 .menu__item li {
     width: 150px;
 }

 .menu__item a {
     color: #efeadd;
     text-decoration: none;
     display: flex;

     flex-direction: row;
 }

 .menu__item.active,
 .menu__item a:hover {
     text-decoration: underline;
 }


 @media screen and (max-width: 1024px) {

     /* CONTACTO */

     .imagenaceitesform {
         align-content: flex-start;
     }

     .main__contacto {
         flex-direction: column;
     }

     .cajitaform {
         width: 100%;
     }

     .cajitaform__titulo {
         padding-top: 25px;
     }

 }

 @media screen and (max-width: 768px) {

     /* TARJETITAS */

     .tarjetitas {
         gap: 0;
     }

 }

 @media screen and (max-width: 600px) {

     /* TARJETITAS */

     .card {
         width: 180px;
     }

     /* INICIO SECCION FOTOS */

     .textodeimagen {
         font-size: 2rem;
     }

     /* INICIO SECCION BLOG */

     .blog {
         display: flex;
         flex-wrap: wrap;
         gap: 20px;
     }

     .blog1,
     .blog2,
     .blog3 {
         width: 430px;
         height: 430px;
     }

     /* FOOTER */

     .grupo2 {
         padding: 0;
     }

          /* MENUFOOTER */

          .menu {
            width: 200px;
            padding: 0;
   
            flex-direction: column;
        }

 }

 @media screen and (max-width: 480px) {

     /* TARJETITAS */

     .card {
         width: 250px;
     }

     /* MENUFOOTER */

     .menu {
         width: 200px;
         padding: 0;

         flex-direction: column;
     }

 }

 @media screen and (max-width: 400px) {

     /* MENU */

     .navbar-brand {
         width: 100px;
     }

     .navbar-brand img {
         width: 100%;
     }

     /* INICIO SECCION FOTOS */

     .textodeimagen {
         font-size: 1rem;
     }

     /* FORM */

     .form__nombre,
     .form__email {
         width: 150px;
     }

     .form__mensaje {
         width: 200px;
     }

     /* FOOTER */

     .grupo1 {
         width: 250px;
     }

     .grupo1 img {
         width: 100%;
     }

     /* MENUFOOTER */

     .menu {
         width: 200px;
     }
 }