.titulo__mezclas {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    font-size: 30px;
    color: $mainColor;
}

.tarjetitas__mezclas {
    @include tarjetasaceites (wrap, center, 25px, 25px);

    .carta {
        width: 250px;
        border: none;
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include mobile {
            width: 150px;
        }

        .tarjetitasai__imagen {
            width: 100%;
            transition: .5s;

            &:hover {
                transform: translate(0, -10px);
            }
        }
    }
}