@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Hind:wght@300;500;700&display=swap');

$mainColor: #6d7a71;
$secundaryColor: #efeadd;

@mixin flex ($justify, $align) {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin datosform ($ancho, $padding) {
    display: flex;
    width: 250px;
    padding: 5px;
}

@mixin tarjetasaceites ($wrap, $justify, $gap, $padding) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 25px;
}